
.status.info {
    background-color: #423d3d;
    color: white;
}
.status {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.215);
    border: 2px solid #1a1a1a;
}
body{
    background:#054807

}
.status.online {
    background-color: #16a34a;
    color: white;
}
.status.offline {
    background-color: #dc2626;
    color: white;
}
.btn {
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px; 
    background: #0f5a2a;
    color: white; 
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 4px 0 #2c7a2c;
}
h1 {
    font-size: 60px;
    color: white; 
    text-shadow: 2px 2px 4px #000;
}
