

form{
background:#101825;
width:300px;
margin:auto;
padding:60px;
border-radius:10px;
}

.btn {
    font-size: 20px;
    padding: 12px 25px;
    background: #22c55e;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
    transition: 0.3s;
}


input{
width:100%;
padding:10px;
margin:10px 0;
}

button{
background:#38bdf8;
border:none;
padding:10px;
cursor:pointer;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #047a2b, #1e293b);
    color: white;
    text-align: center;
    
}
